title: Construction Phasing Tutorial
remote_theme: just-the-docs/just-the-docs
email: joao.martins@autodesk.com
description: >- # this means to ignore newlines until "baseurl:"
  This documentation will guide you on how to build a sample for construction phasing. We'll go through the libraries required and Forge services.
logo: "/assets/images/forge_logo.png"

baseurl: "/construction-phasing-tutorial-docs"

search_enabled: true

search:
  # Split pages into sections that can be searched individually
  # Supports 1 - 6, default: 2
  heading_level: 2
  # Maximum amount of previews per search result
  # Default: 3
  previews: 3
  # Maximum amount of words to display before a matched word in the preview
  # Default: 5
  preview_words_before: 5
  # Maximum amount of words to display after a matched word in the preview
  # Default: 10
  preview_words_after: 10
  # Set the search token separator
  # Default: /[\s\-/]+/
  # Example: enable support for hyphenated search words
  tokenizer_separator: /[\s/]+/
  # Display the relative url in search results
  # Supports true (default) or false
  rel_url: true
  # Enable or disable the search button that appears in the bottom right corner of every page
  # Supports true or false (default)
  button: false
